[Unit]
Description=Apache site %i
After=network.target tmpfiles-setup.service

[Service]
Type=simple
UMask=077
RuntimeDirectory=%n
Environment=APACHE_LOG_DIR=%h/Scratch/%N.logs
Environment=APACHE_RUN_DIR=%t/%n
Environment=APACHE_SERVER_ROOT=%h/.config/apache
Environment=APACHE_STARTED_BY_SYSTEMD=true
ExecStartPre=/bin/mkdir --mode=700 -p $APACHE_LOG_DIR
ExecStart=/usr/sbin/apache2 -d ${APACHE_SERVER_ROOT} -f sites/%i.conf -DFOREGROUND
ExecStop=/bin/kill -WINCH $MAINPID
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
WantedBy=default.target
