[Unit]
Description=Change Emacs color scheme in a graphical session
Requires=emacs.service
After=emacs.service

[Install]
WantedBy=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/emacsclient --eval "(setq-default vertical-scroll-bar t)" --eval "(menu-bar-mode 1)" --eval "(tool-bar-mode 1)" --eval "(load-theme 'naquadah t)"
