[Install]
WantedBy=default.target
DefaultInstance=default

[Service]
ExecStart=/usr/bin/screen -S %i -Dm
ExecStop=/usr/bin/screen -S $MAINPID.%i -X quit
Restart=on-failure
