[Unit]
Description=Clean up temporary directories
Wants=trash-clean.service

[Service]
Type=oneshot
ExecStart=/bin/systemd-tmpfiles --root %h --clean %h/.config/systemd-tmpfiles.conf
