[Unit]
Description=Clean up temporary directories
Wants=tmpfiles-setup.service
After=tmpfiles-setup.service

[Install]
WantedBy=timers.target

[Timer]
OnUnitInactiveSec=8h
