[Unit]
Description=Set up temporary directories

[Install]
WantedBy=default.target

[Service]
Type=oneshot
ExecStart=/bin/systemd-tmpfiles --root %h --boot --create --remove %h/.config/systemd-tmpfiles.conf
