[color]
	diff = true
	grep = true
[color "diff"]
	meta = cyan
	frag = yellow bold
	old = red bold
	new = green bold
[color "grep"]
	match = green bold
	filename = magenta
[alias]
    review = diff -U10 -M
[user]
	name = Brett Smith
